@model UserAccountViewModel
@{
    ViewData["Title"] = "الملف الشخصي";
    //Layout = "~/Views/Shared/_EndUser_Profile_Layout.cshtml";
    Layout = "~/Views/Shared/_EndUser_Profile_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <h4>@ViewBag.Title</h4>
        <partial name="_myInfo" model="@Model.User" />
    </div>
</div>

@section scripts
{
    <script>
        $(function () {
            $('.datepicker').datepicker({
                autoclose: true,
                startDate: "today",
                todayHighlight: true,
                format: "mm/dd/yyyy",
            });
        });

        $("#profile").addClass("active");
    </script>
}


