@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="bg-transparent p-0 m-0">
    <div class="vertical-middle">
        <div class="container-fluid mx-auto">
            <div class="card mx-auto rounded-0 border" style="max-width: 400px; background-color: rgba(255,255,255,0.93);">
                <div class="card-body" style="padding: 40px;">
                    <form id="login-form" asp-action="ForgetPassword" class="mb-0" method="post">
                        <h3>Forget Password</h3>

                        <div class="row">
                            <div class="col-12 form-group">
                                <label for="PhoneNumber">Phone Number</label>

                                <input type="tel" for="PhoneNumber" id="PhoneNumber" name="PhoneNumber" class="form-control not-dark" />
                            </div>
                            <div class="col-12 form-group">
                                <button class="button button-3d button-black m-0" id="login-form-submit" name="login-form-submit" value="login">Send SMS</button>
                                <a asp-action="Login" class="float-right">Login</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

