@model Data.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Confirm";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="bg-transparent p-0 m-0">
    <div class="vertical-middle">
        <div class="container-fluid mx-auto">

            <div class="card mx-auto rounded-0 border" style="max-width: 400px; background-color: rgba(255,255,255,0.93);">
                <div class="card-body" style="padding: 40px;">
                    <form id="login-form" asp-action="ResetPassword" class="mb-0" method="post">
                        <h3>@Resource.ConfirmYourAccount</h3>

                        <div class="row">
                            <div class="col-12 form-group">
                                <label asp-for="Password"></label>
                                <input type="password" asp-for="Password" class="form-control not-dark" />
                            </div>
                            <div class="col-12 form-group">
                                <label asp-for="ConfirmPassword"></label>
                                <input type="password" asp-for="ConfirmPassword" class="form-control not-dark" />
                            </div>
                            <div class="col-12 form-group">
                                <button class="button button-3d button-black m-0" id="login-form-submit" name="login-form-submit" value="login">@Resource.Save</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

