@model SearchItemViewModel
<div class="row gutter-40 mb-0">

    @foreach (var unit in Model.Units)
    {
        <div class="entry col-12 mb-0">
            <partial name="_proprty" model="unit" />
        </div>
    }
</div>


        @{
            var next = 1;
            var prev = 1;
            var pages = Model.TotalRecord / Model.PageSize;
        }
        <ul class="pagination my-0">
            @for (int i = 1; i < pages + 1; i++)
            {
                if (i == pages - 2)
                {
                    prev = Model.PageNumber - 1;
                    if (Model.PageNumber != 1)
                    {
                        <li class="page-item"><button type="button" onclick="getData(@prev)" class="page-link" href="#">@Resource.PrevTopice</button></li>
                    }
                }
                if (i == Model.PageNumber)
                {

                    next = i + 1;
                    <li class="page-item active"><button type="button" onclick="getData(@i)" class="page-link">@i</button></li>
                }
                else
                {
                    <li class="page-item"><button type="button" onclick="getData(@i)" class="page-link">@i</button></li>
                }
                if (i == (pages + 1) - 1)
                {
                    if (next > Model.TotalRecord)
                    {
                    }
                    else
                    {
                        <li class="page-item"><button type="button" onclick="getData(@next)" class="page-link">@Resource.Next</button></li>
                    }
                }
            }
        </ul>
        @*<ul class="pagination my-0">
                <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
            </ul>*@
